﻿
@using ViewDataMVC.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarEscritores</title>
</head>
<body>
    <h1>Escritores argentinos</h1>

    <ul>
        @{ 
            List<Escritor> escritores = (List<Escritor>)ViewData["escritores"];
            foreach(Escritor escritor in escritores)
            {
                <li>@escritor.Nombre</li>

            }
        }
    </ul>
</body>
</html>
