﻿@model DisplaySieteSegmentosMVC.Models.Display

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body onload="setTimeout(location.reload(),180000)">
    @{ 
        string styleA = Model.segmentoA ? "border-top-style: solid;" : "";
        string styleB = Model.segmentoB ? "border-right-style: solid;" : "";
        string styleC = Model.segmentoC ? "border-right-style: solid;" : "";
        string styleD = Model.segmentoD ? "border-bottom-style: solid;" : "";
        string styleE = Model.segmentoE ? "border-left-style: solid;" : "";
        string styleF = Model.segmentoF ? "border-left-style: solid;" : "";
        string styleG = Model.segmentoG ? "border-bottom-style: solid;" : "";
    }

    <h2 style="color:darkslateblue">Numero: @Model.numeroRepresentado</h2>
    <br />
    <h2>Display:</h2>

    <table border="0" style="width:15%; height:300px; border-collapse: collapse;">
        <tr>
            <td style="border-width:15px;@styleA @styleB @styleG @styleF"></td>
        </tr>
        <tr>
            <td style="border-width:15px;@styleC @styleD @styleE"></td>
        </tr>

    </table>

</body>
</html>
