﻿@model VisorVotosMVC.Models.Votos

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Histograma</title>
</head>
<body>
    @{ 
        string widthA = Model.CandidatoA + "%";
        string widthB = Model.CandidatoB + "%";
        string widthC = Model.CandidatoC + "%";
    }
    <table border="1" style="width: @widthA;">
        <tr style="background-color:darksalmon">
            <td>@widthA</td>
        </tr>
    </table>

    <table border="1" style="width: @widthB;">
        <tr style="background-color:darkcyan">
            <td>@widthB</td>
        </tr>
    </table>
    <table border="1"  style="width: @widthC;">
        <tr style="background-color:coral">
            <td>@widthC</td>
        </tr>
    </table>
</body>
</html>
