﻿@model IconoMaquinaDeEscribirMVC.Models.Escritores

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table border="1">
        @foreach (var escritor in Model)
        {
            <tr>
                <td>@escritor.Nombre</td>
                <td>
                @if (escritor.EscribeAMaquina)
                {
                    <img src="~/Content/maquina_escribir.jpg" style="width:10%;" />
                }                

                </td>
            </tr>
        }
    </table>
</body>
</html>
