﻿@model WebApplicationMVC.Models.Empresa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar clientes</title>
</head>
<body>
    <h1>Nombre de la empresa: @Model.Nombre.ToUpper()</h1>

    <p>Antigüedad: 
        @{
            int dias = DateTime.Now.Subtract(Model.FechaApertura).Days;
            int años = dias / 365;

            @años
        }
    </p>

    <table>
        @foreach(WebApplicationMVC.Models.Cliente cliente in Model.Clientes)
        {
            string color;

            if (cliente.TieneDeuda)
            {
                color = "#ec0000";
            }
            else
            {
                color = "#85ba00";
            }
        <tr style="background-color: @color">
            <td>@cliente.Id</td>
            <td>@cliente.Nombre</td>
        </tr>
        }

    </table>
</body>
</html>
