﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dos vistas de un mismo modelo</title>
</head>
<body>
    <div>@Html.ActionLink("Listar (tabla)", "Listar")</div>
    <br />
    <div>@Html.ActionLink("Listar (viñetas)", "ListarDistinto")</div>
</body>
</html>
