﻿@model List<DosVistasDeUnMismoModeloMVC.Models.Usuario>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <table border="1" cellspacing="5" width="150">
        <thead>
            <tr style="background-color:burlywood">
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <a href="@Url.Action("Index")">Volver</a>
</body>
</html>
