﻿@model List<DosVistasDeUnMismoModeloMVC.Models.Usuario>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarDistinto</title>
</head>
<body>
    <ul style="list-style-type:circle; background-color:cadetblue">
        @foreach (var usuario in Model)
        {
            <li>@usuario.Id</li>
            <li>@usuario.Nombre</li>
        }
    </ul>

    <a href="@Url.Action("Index")">Volver</a>
</body>
</html>
