﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista Pares</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Valor Par</th>
            </tr>
        </thead>
        <tbody>
            @{ const byte MAX_ORDEN = 20;
                byte orden = 0;
                byte valor;

                for (valor = 0; orden < MAX_ORDEN; valor++)


                {
                    bool esPar = ((valor % 2) == 0);
                    if (esPar)
                    {              
                        <tr>
                            <td>@(orden)</td>
                            <td>@(valor)</td>
                        </tr>
                        orden++;
                    }
                }

            }
        </tbody>
    </table>
</body>
</html>
